<h1>Viewing info for <%= @technician.name %></h1>
<p>
  <%= link_to "Go back", "/technicians" %> |
  <%= link_to "Edit #{@technician.name}", edit_technician_path %> |
  <%= link_to "Delete #{@technician.name}", technician_path(@technician), method: :delete %>
</p>
<hr>
<h3>List of jobs</h3>
<ul>
  <% @orders.each do |order| %>
  <li><%= link_to order.jobname, order %></li>
  <% end %>
</ul>